/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  /* width: 350px; */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  /* background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links * /
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color * /
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  display: block;
  left: 0;
  right: 0;
  text-align: right;
  padding: 15px;
}

.sidenav a {
  font-size: 1rem !important;
}

.sidenav .file-index a {
  text-decoration: none;
}

.sidenav .file-index a:hover,
.sidenav .file-index a.active {
  background-color: rgba(0, 0, 0, .4);
}

.list-unstyled > li > .list-unstyled {
  margin-left: 20px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

#main .content {
  margin-top: 20px;
}

#image-item {
	opacity: 1;
	transition: opacity 0.3s;
}

#image-item.empty {
  opacity: 0;
}

/* #main .content,
#main .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: red;
}

#main .overlay {
  background-color: #000; /* rgba(0, 0, 0, 0.4); * /
  opacity: 0;
} */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}